<div class="wrapper projects" id="projects">
  <span class="big-text">projects</span>
  <div class="container">
    <div class="ten columns">

      <div class="date">2013</div>
      <div class="info">
        <div class="heading">
          <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
          <span class="place">Freelancer</span>
        </div>
        <p><strong>Bonjour Bonjour</strong></p>
        <p>
          <a href="http://www.bonjourbonjour.net/">
            <%= image_tag 'projects/bonjourbonjour.png' %>
          </a>
          Bonjour Bonjour is a French startup that provides a localized social
          network on portable devices. I'm working on the server side API part
          which is written in Ruby on Rails. The work includes rewriting big
          parts of the application to allow for scalability, while at the same
          time not interrupting the operation of the service.
        </p>
        <p><strong>HeizoelPool</strong></p>
        <p>
          <a href="http://www.heizoelpool.de/">
            <%= image_tag 'projects/heizoelpool.png' %>
          </a>
          After writing the initial implementation in 2007, I'm now again working
          on this project. I develop (small) new features and I keep the site
          running as it should. This includes server maintenance and upgrades of
          the underlying software (Ruby, Ruby on Rails, ...) as well as bug fixes.
        </p>
      </div>

      <div class="date">2012</div>
      <div class="info">
        <div class="heading">
          <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
          <span class="place">Freelancer</span>
        </div>
        <p><strong>Sir Syed Day 2012</strong></p>
        <p>
          <%= image_tag 'projects/sir-syed-day.png' %>
            A small web app for a single event. The homepage design was provided
          as a PSD file. I implemented it using Ruby on Rails, TypeKit fonts,
          and Twitter Bootstrap. The app also includes a ticket sales system with
          payments through Paypal and the app generates the personalized tickets
          as PDFs.
        </p>

        <p><strong>Web Analyzer</strong></p>
        <p class="description">
          <a href="https://www.web-analyzer.com/">
            <%= image_tag 'projects/web-analyzer.png' %>
          </a>
          I maintained and developed new features of
          <a href="https://www.web-analyzer.com/">Web Analyzer</a>
          (a Rails 3 app) as a subcontractor for
          <a href="http://www.ninjaconcept.com/">NinjaConcept</a>.
          This application visualizes data provided by an internal
          API using JavaScript charting libraries and also handles the
          signup and recurring payment processes that allow access to the
          API.
        </p>
      </div>

      <div class="date">2009 - 2011</div>
      <div class="info">
        <div class="heading">
          <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
          <span class="place"><a href="http://msales.com/">mSALES GmbH</a></span>
        </div>
        <p class="description">
          I maintained and developed new features of a medium sized
          (500k users) Ruby on Rails 2.3 application (Ruby,
          JavaScript, Haml, Sass, mySQL). I also developed several
          specialized backend services and visualization tools using
          Ruby on Rails, Sinatra and flot.
        </p>
      </div>

      <div class="date">2007 - 2008</div>
      <div class="info">
        <div class="heading">
          <h6>Web Developer (JavaScript)</h6>
          <span class="place">Freelancer</span>
        </div>
        <p class="description">
          Took over the development of the frontend JavaScript
          development (Prototype.js, custom libs) if mysites.com
          a start-up that aimed to provide what's today probably
          called a Cloud OS (files, music, videos, ...). We also
          allowed users to write their own apps on top of the
          platform.
        </p>
      </div>

      <div class="date">2007</div>
      <div class="info">
        <div class="heading">
          <h6>Web Developer (Ruby on Rails)</h6>
          <span class="place">Freelancer</span>
        </div>
        <p class="description">
          <a href="http://www.heizoelpool.de/">
            <%= image_tag 'projects/heizoelpool.png' %>
          </a>
          I wrote an introductory article on Ruby on Rails for the
          German magazine <em>Linux Magazin</em> and wrote the
          initial implementations of
          <a href="http://www.heizoelpool.de/">HeizoelPool</a> and
          <a href="http://www.autopolicenpool.de/">AutopolicenPool</a>
          in Ruby on Rails.
        </p>

      </div>

      <div class="date">2001 - 2007</div>
      <div class="info">
        <div class="heading">
          <h6>Degree in Bioinformatics at <a href="http://www.tum.de">TUM</a> and <a href="http://www.lmu.de">LMU</a></h6>
          <span class="place">Munich, Germany</span>
        </div>
        <p class="description">
          Finished with a German Diplom (equivalent to a Master). The emphasis
          was on data mining and machine learning, which of course includes
          data visualization. Due to the large amount of data produced in this
          field of science I also know my way around big data.
        </p>
      </div>
      <div class="date">1992 - 2001</div>
      <div class="info">
        <div class="heading">
          <h6>Christoph-Probst Gymnasium</h6>
          <span class="place">Gilching, Germany</span>
        </div>
        <p class="description">
          Formal education according to the German school system. In
          the last year I started to teach myself C for the a mini
          thesis in biology (you have to do one those in the last
          year of school in Germany).
        </p>
      </div>

    </div>
  </div>
</div>
