<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Your title</title>
  <meta name="description" content="Description for your site">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="content">


  <!-- HEADER -->
  <div class="header">
    <div class="logo"><h2>FIRST<strong>LAST</strong></h2></div>
    <div class="menubutton"></div>

    <div class="menu">
      <ul>
        <li id="default"><a href="#homepage">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <br class="clear" />
  </div>



  <!-- HOMEPAGE -->
  <div class="wrapper homepage" id="homepage">
    <div class="container">
      <div class="three columns">
        <div class="frame">
          <%= image_tag 'yourphoto.jpg' %>
        </div>
      </div>

      <div class="five columns">
        <h1>YOUR JOB/SLOGAN</h1>
        <p><strong>Bold intro text</strong></p>
        <p>More intro text</p>
      </div>

      <div class="four columns">
        <div class="left-divider">
          <p>Text above your social buttons<p>
          <a href="link to your twitter"><button class="twitter">@yourname</button></a>
          <a href="link to your facebook"><button class="facebook">Your Name</button></a>
          <a href="link to your linkedin"><button class="linkedin">Your Name</button></a>
          <a href="mailto:you@youremail.com"><button class="mail">you@youremail.com</button></a>
        </div>
      </div>

   </div>
  </div>



  <!-- PORTFOLIO -->
  <div class="wrapper portfolio" id="portfolio">
    <span class="big-text">portfolio</span>
    <div class="container">
      <div class="twelve columns slogan">
        <h5>Your tags/motto</h5>
      </div>

      <div class="items">
        <div class="twelve columns">

          <a href="<%= asset_path 'bigimage.jpg'%>" rel="prettyPhoto" title="Image caption here">
            <div class="item">
              <img src="<%= asset_path 'smallimage.jpg' %>">
                <div class="mask">
                <h6>Title on hover</h6>
                <p>Description on hover</p>
                <span class="tags">tags</span>
                </div>
            </div>
          </a>

        </div>
      </div>

   </div>
  </div>



  <!-- BLOG -->
  <div class="wrapper blog" id="blog">
    <span class="big-text">blog</span>
    <div class="container">

        <div class="ten columns offset-by-two post-title">
          <h5>Post title</h5>
        </div>
        <div class="two columns info">
          <span class="date">date</span>
          <span class="author">author</span>
          <span class="tags">tag</span>
        </div>
        <div class="ten columns post">
          <%= image_tag "blogpostimage.jpg" %>
          <p><strong>Bold text</strong></p>
          <p>More text</p>
          <a href="#_" class="readmore">Read more &rarr;</a>
          <div class="more">
            <p>Text after read more button</p>
          </div>
        </div>

   </div>
  </div>


  <!-- RESUME -->
  <div class="wrapper resume" id="resume">
    <span class="big-text">resume</span>
    <div class="container">

      <div class="eight columns">

        <div class="education">
          <h5>Education</h5>

          <div class="date">date</div>
          <div class="info">
            <div class="heading">
              <h6>education title</h6>
              <span class="place">location</span>
            </div>
            <p class="description">education description</p>
          </div>

        </div>

        <div class="experience">
          <h5>Experience</h5>

          <div class="date">date</div>
          <div class="info">
            <div class="heading">
              <h6>Your job/function</h6>
              <span class="place">company</span>
            </div>
            <p class="description">job description</p>
          </div>

        </div>

      </div>

      <div class="four columns">
        <div class="left-padding">
          <div class="skills">
            <h5>Skills</h5>
            <div class="skill-container">
              <div class="skill" style="width: 65%;">Your skill (change percentage to the left)</div>
            </div>
          </div>

          <a href="link to your resume"><button class="big">Download my resume</button></a>
        </div>
      </div>
    </div>
  </div>


  <!-- CONTACT -->
  <div class="wrapper contact" id="contact">
    <span class="big-text">contact</span>
    <div class="container">
      <div class="twelve columns">
        <div class="map"><%= image_tag "yourcontactimage.jpg" %></div>
      </div>
      <div class="four columns">
        <h5>Contact info</h5>
        <ul>
          <li><strong>Name:</strong> Your name</li>
          <li><strong>Address:</strong> Your address</li>
          <li><strong>E-mail:</strong> you@youremail</li>
          <li><strong>Phone:</strong> Your phone number</li>
        </ul>

      </div>
      <div class="eight columns">
      <%= form_for @contact_request, :url => contact_path, :html => {:id => 'contactform'}, :remote => true do |f| %>
        <%= f.label :name, "Name:" %>
        <%= f.text_field :name, :class => "required"%>
        <%= f.label :email, "Email:" %>
        <%= f.text_field :email, :class => "required email"%>
        <%= f.label :message, "Message:" %>
        <%= f.text_area :message, :class => "required", :cols => nil, :rows => nil %>
        <%= f.button "Send Message", :class => "submit-button"%>
      <% end %>
      </div>

    </div>
  </div>


  <!-- FOOTER -->
  <div class="footer">
    Copyright 2012 Your name
  </div>

</div>


<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66628862); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66628862ns.gif" /></p></noscript>
</body>
</html>