<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Urban Hafner - Ruby on Rails and JavaScript freelance developer</title>
  <meta name="description" content="Ruby on Rails and JavaScript freelancer">
  <meta name="keywords" content="ruby, rails, ruby on rails, javascript, freelance, freelancer, developer">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="content">


  <!-- HEADER -->
  <div class="header">
    <div class="logo">
      <a href="/">
        <h2>Urban<strong>Hafner</strong></h2>
      </a>
    </div>
    <div class="menubutton"></div>

    <div class="menu">
      <ul>
        <li id="default"><a href="#homepage">Home</a></li>
        <!-- <li><a href="#blog">Blog</a></li> -->
        <!-- <li><a href="#resume">Resume</a></li> -->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <br class="clear" />
  </div>



  <!-- HOMEPAGE -->
  <div class="wrapper homepage" id="homepage">
    <div class="container">
      <div class="three columns">
        <div class="frame">
          <%= image_tag 'yourphoto.jpg' %>
        </div>
      </div>

      <div class="five columns">
        <h1>WEB DEVELOPER</h1>
        <p><strong>
          My name is Urban Hafner and I'm a web developer specializing
          in Ruby, Ruby on Rails and JavaScript.
        </strong></p>
        <p>
          If you are looking for help with your web application please
          contact me by either using the
          <a class="contact-form-link" href="#contact">contact form</a>
          or any of the means mention on the right.
        </p>
      </div>

      <div class="four columns">
        <div class="left-divider">
          <a href="http://twitter.com/ujh"><button class="twitter">@ujh</button></a>
          <a href="http://www.linkedin.com/pub/urban-hafner/53/b4b/6ab"><button class="linkedin">Urban Hafner</button></a>
          <a href="https://www.xing.com/profile/Urban_Hafner"><button class="xing">Urban Hafner</button></a>
          <a href="mailto:contact@urbanhafner.com"><button class="mail">contact@urbanhafner.com</button></a>
        </div>
      </div>

   </div>
  </div>



  <!-- BLOG -->
  <!-- <div class="wrapper blog" id="blog">
    <span class="big-text">blog</span>
    <div class="container">

        <div class="ten columns offset-by-two post-title">
          <h5>Post title</h5>
        </div>
        <div class="two columns info">
          <span class="date">date</span>
          <span class="author">author</span>
          <span class="tags">tag</span>
        </div>
        <div class="ten columns post">
          <%= image_tag "blogpostimage.jpg" %>
          <p><strong>Bold text</strong></p>
          <p>More text</p>
          <a href="#_" class="readmore">Read more &rarr;</a>
          <div class="more">
            <p>Text after read more button</p>
          </div>
        </div>

   </div>
  </div> -->


  <!-- RESUME -->
  <!-- <div class="wrapper resume" id="resume">
    <span class="big-text">resume</span>
    <div class="container">

      <div class="eight columns">

        <div class="education">
          <h5>Education</h5>

          <div class="date">date</div>
          <div class="info">
            <div class="heading">
              <h6>education title</h6>
              <span class="place">location</span>
            </div>
            <p class="description">education description</p>
          </div>

        </div>

        <div class="experience">
          <h5>Experience</h5>

          <div class="date">date</div>
          <div class="info">
            <div class="heading">
              <h6>Your job/function</h6>
              <span class="place">company</span>
            </div>
            <p class="description">job description</p>
          </div>

        </div>

      </div>

      <div class="four columns">
        <div class="left-padding">
          <div class="skills">
            <h5>Skills</h5>
            <div class="skill-container">
              <div class="skill" style="width: 65%;">Your skill (change percentage to the left)</div>
            </div>
          </div>

          <a href="link to your resume"><button class="big">Download my resume</button></a>
        </div>
      </div>
    </div>
  </div> -->


  <!-- CONTACT -->
  <div class="wrapper contact" id="contact">
    <span class="big-text">contact</span>
    <div class="container">
      <div class="twelve columns">
        <div class="map"><%= image_tag "yourcontactimage.jpg" %></div>
      </div>
      <div class="four columns">
        <h5>Contact info</h5>
        <ul>
          <li><strong>Name: </strong>Urban Hafner</li>
          <li><strong>Address: </strong><br />1 place Notre Dame<br />38000 Grenoble<br />France</li>
          <li><strong>E-mail: </strong>contact@urbanhafner.com</li>
          <li><strong>Phone: </strong>+33 6 30 39 23 84</li>
        </ul>

      </div>
      <div class="eight columns">
        <%= form_for @contact_request, :url => contact_path, :html => {:id => 'contactform'}, :remote => true do |f| %>
          <div class="notice"></div>
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, :class => "required"%>
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email, :class => "required email"%>
          <%= f.label :message, "Message:" %>
          <%= f.text_area :message, :class => "required", :cols => nil, :rows => nil %>
          <%= f.button "Send Message", :class => "submit-button"%>
          <%= f.text_field :additional_field %>
        <% end %>
      </div>

    </div>
  </div>


  <!-- FOOTER -->
  <div class="footer">
    Copyright <%= copyright_years %> Urban Hafner
  </div>

</div>

<%= render 'layouts/tracking' %>

</body>
</html>