<!doctype html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="Ruby on Rails and JavaScript freelancer">
  <meta name="keywords" content="ruby, rails, ruby on rails, javascript, freelance, freelancer, developer">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="content">


  <!-- HEADER -->
  <div class="header">
    <div class="logo">
      <a href="/">
        <h2>Urban<strong>Hafner</strong></h2>
      </a>
    </div>
    <div class="menubutton"></div>

    <div class="menu">
      <ul>
        <%= menu_item "Home" %>
        <%= menu_item "Projects" %>
        <%= menu_item "Resume" %>
        <%= menu_item "Contact" %>
      </ul>
    </div>

    <br class="clear" />
  </div>

  <%= yield %>

  <!-- FOOTER -->
  <div class="footer">
    Copyright <%= copyright_years %> Urban Hafner
  </div>

</div>

<%= render 'layouts/tracking' %>

</body>
</html>