<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Urban Hafner - Ruby on Rails and JavaScript freelance developer</title>
  <meta name="description" content="Ruby on Rails and JavaScript freelancer">
  <meta name="keywords" content="ruby, rails, ruby on rails, javascript, freelance, freelancer, developer">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="content">


  <!-- HEADER -->
  <div class="header">
    <div class="logo">
      <a href="/">
        <h2>Urban<strong>Hafner</strong></h2>
      </a>
    </div>
    <div class="menubutton"></div>

    <div class="menu">
      <ul>
        <li id="default"><a href="#homepage">Home</a></li>
        <li><a href="#projects">Projects</a>
        <!-- <li><a href="#blog">Blog</a></li> -->
        <li><a href="#resume">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <br class="clear" />
  </div>



  <!-- HOMEPAGE -->
  <div class="wrapper homepage" id="homepage">
    <div class="container">
      <div class="three columns">
        <div class="frame">
          <%= image_tag 'yourphoto.jpg' %>
        </div>
      </div>

      <div class="five columns">
        <h1>WEB DEVELOPER</h1>
        <p><strong>
          My name is Urban Hafner and I'm a web developer specializing
          in Ruby, Ruby on Rails and JavaScript.
        </strong></p>
        <p>
          If you are looking for help with your web application please
          contact me by either using the
          <a class="contact-form-link" href="#contact">contact form</a>
          or any of the means mention on the right.
        </p>
      </div>

      <div class="four columns">
        <div class="left-divider">
          <a href="http://twitter.com/ujh"><button class="twitter">@ujh</button></a>
          <a href="http://www.linkedin.com/pub/urban-hafner/53/b4b/6ab"><button class="linkedin">Urban Hafner</button></a>
          <a href="https://www.xing.com/profile/Urban_Hafner"><button class="xing">Urban Hafner</button></a>
          <a href="mailto:contact@urbanhafner.com"><button class="mail">contact@urbanhafner.com</button></a>
        </div>
      </div>

   </div>
  </div>


  <div class="wrapper projects" id="projects">
    <span class="big-text">projects</span>
    <div class="container">
      <div class="ten columns">
        Heizoelpool und Autopolicenpool
        mySites (?)
        <p><strong>Project 1</strong></p>
        <p>Description</p>
      </div>
      <div class="ten columns">
        <p><strong>Project 2</strong></p>
        <p>Description</p>
      </div>
    </div>
  </div>
  <!-- BLOG -->
  <!-- <div class="wrapper blog" id="blog">
    <span class="big-text">blog</span>
    <div class="container">

        <div class="ten columns offset-by-two post-title">
          <h5>Post title</h5>
        </div>
        <div class="two columns info">
          <span class="date">date</span>
          <span class="author">author</span>
          <span class="tags">tag</span>
        </div>
        <div class="ten columns post">
          <%= image_tag "blogpostimage.jpg" %>
          <p><strong>Bold text</strong></p>
          <p>More text</p>
          <a href="#_" class="readmore">Read more &rarr;</a>
          <div class="more">
            <p>Text after read more button</p>
          </div>
        </div>

   </div>
  </div> -->


  <!-- RESUME -->
  <div class="wrapper resume" id="resume">
    <span class="big-text">resume</span>
    <div class="container">

      <div class="eight columns">

        <div class="experience">
          <h5>Experience</h5>

          <div class="date">2012</div>
          <div class="info">
            <div class="heading">
              <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
              <span class="place">Freelancer</span>
            </div>
            <p class="description">
              I maintained and developed of new features of
              <a href="https://www.web-analyzer.com/">Web Analyzer</a>
              (a Rails 3 app) in collaboration with
              <a href="http://www.ninjaconcept.com/">NinjaConcept</a>.
            </p>
          </div>

          <div class="date">2009 - 2011</div>
          <div class="info">
            <div class="heading">
              <h6>Web Developer (Ruby on Rails, JavaScript)</h6>
              <span class="place"><a href="http://msales.com/">mSALES GmbH</a></span>
            </div>
            <p class="description">
              I maintained and developed new features of a medium sized
              (500k users) Ruby on Rails 2.3 application (Ruby,
              JavaScript, Haml, Sass, mySQL). I also developed several
              specialized backend services and visualization tools using
              Ruby on Rails, Sinatra and flot.
            </p>
          </div>

          <div class="date">2007 - 2008</div>
          <div class="info">
            <div class="heading">
              <h6>Web Developer (JavaScript)</h6>
              <span class="place">Freelancer</span>
            </div>
            <p class="description">
              Took over the development of the frontend JavaScript
              development (Prototype.js, custom libs) if mysites.com
              a start-up that aimed to provide what's today probably
              called a Cloud OS (files, music, videos, ...). We also
              allowed users to write their own apps on top of the
              platform.
            </p>
          </div>

          <div class="date">2007</div>
          <div class="info">
            <div class="heading">
              <h6>Web Developer (Ruby on Rails)</h6>
              <span class="place">Freelancer</span>
            </div>
            <p class="description">
              I wrote an introductory article on Ruby on Rails for the
              German magazine <em>Linux Magazin</em> and wrote the
              initial implementations of
              <a href="http://www.heizoelpool.de/">HeizoelPool</a> and
              <a href="http://www.autopolicenpool.de/">AutopolicenPool</a>
              in Ruby on Rails.
            </p>
          </div>

        </div>

        <div class="education">
          <h5>Education</h5>

          <div class="date">2001 - 2007</div>
          <div class="info">
            <div class="heading">
              <h6>Degree in Bioinformatics at <a href="http://www.tum.de">TUM</a> and <a href="http://www.lmu.de">LMU</a></h6>
              <span class="place">Munich, Germany</span>
            </div>
            <p class="description">
              Finished with a German Diplom (equivalent to a Master),
              but Science wasn’t the thing for me. We did however learn
              many data mining and machine learning techniques and I
              worked at a student assistant from 2002 - 2005 at
              <a href="http://www.helmholtz-muenchen.de/en/ibis">MIPS</a>
              using Ruby, Python, C, SQL and specialized apps.
            </p>
          </div>
          <div class="date">1992 - 2001</div>
          <div class="info">
            <div class="heading">
              <h6>Christoph-Probst Gymnasium</h6>
              <span class="place">Gilching, Germany</span>
            </div>
            <p class="description">
              Formal education according to the German school system. In
              the last year I started to teach myself C for the a mini
              thesis in biology (you have to do one those in the last
              year of school in Germany).
            </p>
          </div>

        </div>

      </div>

      <div class="four columns">
        <div class="left-padding">
          <div class="skills">
            <h5>Skills</h5>
            
            <div class="skill-container">
              Ruby, Ruby on Rails, JavaScript, jQuery, RSpec, Cucumber,
              HAML, SASS, HTML, SQL, Git, Redis
            </div>
            
            <h5>Languages</h5>
            <div class="skill-container">
              German (native language), English (very good), Greek,
              French, Swedish
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- CONTACT -->
  <div class="wrapper contact" id="contact">
    <span class="big-text">contact</span>
    <div class="container">
      <div class="twelve columns">
        <div class="map"><%= image_tag "yourcontactimage.jpg" %></div>
      </div>
      <div class="four columns">
        <h5>Contact info</h5>
        <ul>
          <li><strong>Name: </strong>Urban Hafner</li>
          <li><strong>Address: </strong><br />1 place Notre Dame<br />38000 Grenoble<br />France</li>
          <li><strong>E-mail: </strong>contact@urbanhafner.com</li>
          <li><strong>Phone: </strong>+33 6 30 39 23 84</li>
        </ul>

      </div>
      <div class="eight columns">
        <%= form_for @contact_request, :url => contact_path, :html => {:id => 'contactform'}, :remote => true do |f| %>
          <div class="notice"></div>
          <%= f.label :name, "Name:" %>
          <%= f.text_field :name, :class => "required"%>
          <%= f.label :email, "Email:" %>
          <%= f.text_field :email, :class => "required email"%>
          <%= f.label :message, "Message:" %>
          <%= f.text_area :message, :class => "required", :cols => nil, :rows => nil %>
          <%= f.button "Send Message", :class => "submit-button"%>
          <%= f.text_field :additional_field %>
        <% end %>
      </div>

    </div>
  </div>


  <!-- FOOTER -->
  <div class="footer">
    Copyright <%= copyright_years %> Urban Hafner
  </div>

</div>

<%= render 'layouts/tracking' %>

</body>
</html>